#somos{
  width: 100%;
}
#somos-img-texto{
  display: flex;
  min-height: calc(100vh-91px);
  gap: 48px;
  background-color:whitesmoke;
  padding: 12px;
  border-radius: 12px;
}
#somos-img-texto img{
  justify-content: flex-start;
  height: 483px;
  width: 473.885;
  border-radius: 10px;
}
#somos-img-texto p{
  width: fit-content;
}
